# .gitignore
# don't push these files to the repository

.history
*.log
*.eml
*.o
*.a
*.d
*.elf
*.s19
*.map
*.bin
!client/hardnested/*.bin
*.dll
*.moc.cpp
*.z
!client/hardnested/tables/*.z
version.c
client/ui/ui_overlays.h
*.Td

*.exe
*.dsym
hardnested_stats.txt
proxmark3
flasher
lua
luac
fpga_compress
mfkey32
mfkey64

fpga/*
!fpga/tests
!fpga/fpga_lf.bit
!fpga/fpga_hf.bit
!fpga/*.v
!fpga/Makefile
!fpga/fpga.ucf
!fpga/xst_lf.scr
!fpga/xst_hf.scr
!fpga/go.bat
!fpga/sim.tcl

#client/*
# my own traces folder
client/traces/*


client/lualibs/mf_default_keys.lua
client/lualibs/usb_cmd.lua
