# .gitignore
# don't push these files to the repository

.history
.bash_history
.bash_profile
.bash_logout
.bashrc
.inputrc
.profile
*.log
*.eml
*.html
*.o
*.a
*.d
*.elf
*.s19
*.map
*.bin
*.dll
*.moc.cpp
*.z
*.gz
*.Td
*.DS_Store
*.exe
*.dsym
version_pm3.c
*.json
*.old
*.swp
*.json.bak
*.pyc
*.bmp
originalitysig.csv

# new build file for add-ons.
Makefile.platform
# Cache for detecting platform def changes
.Makefile.options.cache

# cmake
client/build/
client/android/build/
client/deps/bzip2/

# Coverity
cov-int/
.coverity.conf

# profiling
*.gcno

!client/resources/hardnested/*.bin
!client/resources/hardnested_tables/*.z
client/src/ui/ui_image.h
client/src/ui/ui_overlays.h
client/deps/reveng/bmptst

hardnested_stats.txt
proxmark3
proxmark3-flasher
flasher
!flasher/
lua
luac
tools/fpga_compress/fpga_compress
tools/mfkey/mfkey32
tools/mfkey/mfkey64
tools/nonce2key/nonce2key
tools/cryptorf/cm
tools/cryptorf/sm
tools/cryptorf/sma
tools/cryptorf/sma_multi
tools/mf_nonce_brute/mf_nonce_brute
tools/mf_nonce_brute/mf_trace_brute
tools/jtag_openocd/openocd_configuration
tools/mfd_aes_brute/mfd_aes_brute
tools/mfd_aes_brute/mfd_multi_brute
tools/mfd_aes_brute/brute_key

fpga/__build*

# offcial dumps folder
dumps/*
traces/*

#client/*
client/traces/*
client/dumps/*
*.ice
*.new
*- Copy.*
/EF_*

client/lualibs/mfc_default_keys.lua
client/lualibs/pm3_cmd.lua
# recompiled
fpga_version_info.c

# log / history
.proxmark3/*

# .tmp files are created during compilation
*.tmp

# VSCode files
!.vscode/templates/*.json
!.vscode/extensions.json
!.vscode/tasks.json

# docs
!doc/*.json
