# https://git-scm.com/docs/gitmailmap
# Reunificating commits done under various names and emails variants
# Feel free to edit if you need to reunify your commits or change your display name
iceman1001 <iceman@iuse.se>
iceman1001 <iceman@iuse.se> <herrmann1001@gmail.com>
iceman1001 <iceman@iuse.se> <iceman1001@iuse.se>
iceman1001 <iceman@iuse.se> <40314039+RfidResearchGroup@users.noreply.github.com>
iceman1001 <iceman@iuse.se> <chris@rfidresearch.com>
Philippe Teuwen <phil@teuwen.org>
Philippe Teuwen <phil@teuwen.org> <phil-github@teuwen.org>
Philippe Teuwen <phil@teuwen.org> <yobibe@ef4ab9da-24cd-11de-8aaa-f3a34680c41f>
Oleg Moiseenko <olegmsn@gmail.com>
Oleg Moiseenko <olegmsn@gmail.com> <807634+merlokk@users.noreply.github.com>
Oleg Moiseenko <olegmsn@gmail.com> <Merlokbr@gmail.com>
Oleg Moiseenko <olegmsn@gmail.com> <Merlokbr@gmail.com@ef4ab9da-24cd-11de-8aaa-f3a34680c41f>
tharexde <joerg.classen@bowsky.de>
tharexde <joerg.classen@bowsky.de> <61853685+tharexde@users.noreply.github.com>
marshmellow42 <marshmellowrf@gmail.com>
marshmellow42 <marshmellowrf@gmail.com> <marshmellow42@users.noreply.github.com>
Martin Holst Swende <martin@swende.se>
Martin Holst Swende <martin@swende.se> <martin.holst@gmail.com@ef4ab9da-24cd-11de-8aaa-f3a34680c41f>
Martin Holst Swende <martin@swende.se> <martin.holst@gmail.com>
Ave Ozkal <ave@ave.zone>
mwalker33 <mwal5099@bigpond.net.au>
mwalker33 <mwal5099@bigpond.net.au> <51802811+mwalker33@users.noreply.github.com>
tcprst <nick.draffen@gmail.com>
tcprst <nick.draffen@gmail.com> <nd@Nicks-MacBook-Pro.local>
Bjoern Kerler <info@revskills.de>
Bjoern Kerler <info@revskills.de> <6317772+bkerler@users.noreply.github.com>
Roel Verdult <roel@libnfc.org>
Roel Verdult <roel@libnfc.org> <roel@libnfc.org@ef4ab9da-24cd-11de-8aaa-f3a34680c41f>
Brian Pow <brianpow@gmail.com>
Adam Laurie <adam@algroup.co.uk>
Adam Laurie <adam@algroup.co.uk> <adam@algroup.co.uk@ef4ab9da-24cd-11de-8aaa-f3a34680c41f>
Gator96100 <jupuerzi@gmx.at>
Henryk Plötz <henryk@ploetzli.ch>
Henryk Plötz <henryk@ploetzli.ch> <henryk@ploetzli.ch@ef4ab9da-24cd-11de-8aaa-f3a34680c41f>
pwpiwi <pwpiwi@users.noreply.github.com>
pwpiwi <pwpiwi@users.noreply.github.com> <micki.held@gmx.de>
pwpiwi <pwpiwi@users.noreply.github.com> <micki.held@gmx.de@ef4ab9da-24cd-11de-8aaa-f3a34680c41f>
d18c7db <d18c7db@ef4ab9da-24cd-11de-8aaa-f3a34680c41f>
Thomas Sutter <suth@zhaw.ch>
Marlin Sööse <30473690+msoose@users.noreply.github.com>
Vincent Ratiskol <vincent.ratiskol@github.com>
Vincent Ratiskol <vincent.ratiskol@github.com> <vincent.ratiskol@gmail.com>
Vincent Ratiskol <vincent.ratiskol@github.com> <vratiskol@users.noreply.github.com>
dn337t <dn337t@gmail.com>
dn337t <dn337t@gmail.com> <dn337t@gmail.com@ef4ab9da-24cd-11de-8aaa-f3a34680c41f>
Hector Martin <marcansoft@ef4ab9da-24cd-11de-8aaa-f3a34680c41f>
bushing <bushing@ef4ab9da-24cd-11de-8aaa-f3a34680c41f>
Matt Moran <mattmoran2000@gmail.com>
Matthias Konrath <office@inet-sec.at>
Slurdge <slurdge@slurdge.org>
Slurdge <slurdge@slurdge.org> <slurdge@users.noreply.github.com>
iZsh <izsh@fail0verflow.com>
iZsh <izsh@fail0verflow.com> <izsh@fail0verflow.com@ef4ab9da-24cd-11de-8aaa-f3a34680c41f>
iZsh <izsh@fail0verflow.com> <izsh.f0f@ef4ab9da-24cd-11de-8aaa-f3a34680c41f>
Christian Molson <christian@cmolabs.org>
Uli Heilmeier <uh@heilmeier.eu>
Andreas Dröscher <github@anticat.ch>
McEloff <eloff@mail.ru>
Ray Lee <rayleesky@outlook.com>
Ikarus <ikarus4ever@web.de>
Salvador Mendoza <salvador_m_g@msn.com>
Bogiton <34060135+bogiton@users.noreply.github.com>
İlteriş Eroğlu <ilteris@asenkron.com.tr>
Samy Kamkar <git@samy.pl>
Samy Kamkar <git@samy.pl> <skamkar@ef4ab9da-24cd-11de-8aaa-f3a34680c41f>
Blaine Forbort <b.forbort@gmail.com>
Daniel Underhay <27876907+dunderhay@users.noreply.github.com>
Victor <virb3e@gmail.com>
Édouard Lafargue <edouard@lafargue.name>
Édouard Lafargue <edouard@lafargue.name> <edouard@lafargue.name@ef4ab9da-24cd-11de-8aaa-f3a34680c41f>
Anže Jenšterle <anze@anze.xyz>
Anže Jenšterle <anze@anze.xyz> <anze@anze.dev>
DXL <64101226@qq.com>
Colin J. Brigato <colin@brigato.fr>
cyberpunk-re <tiagor2010@gmail.com>
Akif Dinc <akif@dinc.org>
Ryan Saridar <8403417+VortixDev@users.noreply.github.com>
Gabriele Gristina <gabriele.gristina@gmail.com>
Gabriele Gristina <gabriele.gristina@gmail.com> <matrix@users.noreply.github.com>
Gerhard de Koning Gans <dekoninggans@gmail.com>
Gerhard de Koning Gans <dekoninggans@gmail.com> <dekoninggans@gmail.com@ef4ab9da-24cd-11de-8aaa-f3a34680c41f>
Sébastien Dudek <sebastien.dudek@penthertz.com>
Sébastien Dudek <sebastien.dudek@penthertz.com> <fluxius@gmail.com>
Sébastien Dudek <sebastien.dudek@penthertz.com> <sebastien_dudek@trendmicro.com>
Nahuel Grisolia <nahuel@cintainfinita.com.ar>
Nahuel Grisolia <nahuel@cintainfinita.com.ar> <nahuelgrisolia@gmail.com>
Winds <lalamy@yandex.ru>
Winds <lalamy@yandex.ru> <60715874+Windslab@users.noreply.github.com>
