# Travis-CI Build for RfidResearchGroup/Proxmark3
language: c

#default linux build env is: xenial
compiler: gcc

# move some env variables to homebrew env
env:
  global:
    - HOMEBREW_TRAVIS_BRANCH=TRAVIS_BRANCH
    - HOMEBREW_TRAVIS_COMMIT=TRAVIS_COMMIT

# Test on Linux and MacOS
matrix:
  include:
    - os: osx
      osx_image: xcode11
    - os: linux
      dist: xenial
      sudo: required

addons:
  apt:
    packages:
      - gcc-arm-none-eabi
      - libnewlib-dev
  homebrew:
    packages:
      - readline
      - p7zip
      - libusb-compat
      - perl
      - qt5
      - wget
      - RfidResearchGroup/proxmark3/arm-none-eabi-gcc
    taps: merlokk/proxmark3i
    
install:
  if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then 
    brew info proxmark3i;
    brew options proxmark3i;	
    brew install --HEAD proxmark3i;
  elif [[ "$TRAVIS_OS_NAME" == "linux" ]]; then 
    make all;
  fi

script: 
## start and run a test script
  if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then 
    proxmark3 -h ;
  elif [[ "$TRAVIS_OS_NAME" == "linux" ]]; then 
    ./client/proxmark3 -h ;
  fi