Source: proxmark
Section: devel
Priority: optional
Maintainer: Geany Packaging Team <pkg-geany-team@lists.alioth.debian.org>
Uploaders: Lorenzo "Palinuro" Faletra <palinuro@parrotsec.org>,
  Irene "Tissy" Pirrotta <tissy@parrotsec.org>
Homepage: http://www.proxmark.com
Build-Depends: debhelper (>= 10),
               dh-autoreconf,
               p7zip,
               git,
               ca-certificates,
               build-essential,
               libreadline5,
               libreadline-dev,
               libusb-0.1-4,
               libusb-dev,
               pkg-config,
               wget,
               gcc-arm-none-eabi,
               libnewlib-dev,
               libqt4-dev
Standards-Version: 4.4.0

Package: proxmark3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Provides: proxmark
Description: Proxmark3 / RFID / NFC
 Proxmark3 / RFID / NFC.
