#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with=make --parallel

override_dh_make:
	make all

override_dh_auto_configure:
	dh_auto_configure -- --enable-vte --enable-the-force --enable-gtk3
	sed -i -r 's,^sys_lib_dlsearch_path_spec="(.*)$$,sys_lib_dlsearch_path_spec="/usr/lib /lib \1,' $(CURDIR)/libtool

override_dh_install:
	make -j install PREFIX=/usr UDEV_PREFIX=/lib/udev/rules.d
